.DS_Store
xcuserdata/*
Pods/
*.xcuserdatad
FauxPasConfig
build/
DerivedData/
*.swp
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
screenshots/
*.ipa
*.mobileprovision
*.dSYM.zip
fastlane/report.xml
Package.itmsp/
